
.modal{
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: 'translate(-50%, -50%)';
}

.form {
  margin-top: 10px;
  padding: 10px 0;
}

.form .form-data{
  font-family: 'Poppins', sans-serif;
  width: 480px;
  margin: 10px 0;
  height: 64px;
  padding: 0 15px;
  background-color: #E7E9EE;
  border-radius: 5px;
  border: 1px;
  
}
.form-data:focus{
  outline: none;
}
.dropdown {
  font-family: 'Poppins', sans-serif;
  width: 510px;
  letter-spacing: 1px;
  background-color: #E7E9EE;
  margin: 10px 0;
  height: 64px;
  padding: 0 15px;
  background-color: #E7E9EE;
  border-radius: 5px;
  border: 1px;
}
.dropdown:focus {
  outline: none;}

.dropdown option {
  height: 20px;
  background-color: #33CC95;
}

::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  font-weight: 700;
}

.btn-content{
  display: flex;
  justify-content: space-between;
}

.btn-box {
  height: 64px;
  border-radius: 5px;
  width: 48%;
  text-align: center;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border: 1.5px solid #969CB3;
  box-sizing: border-box;
}
.btn-box:hover {
 cursor: pointer;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-desc {
  margin-left: 10px;
}

.btn-add {
  height: 64px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #33CC95;
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.btn-add:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.close {
  width: 10px;
  height: 10px;
}
.close:hover {
  cursor: pointer;

}
